In [2]:
#run this cell to link to the google and acess files
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [3]:
#mounting google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#navigate to the drive or directory in drive to save the output file.
%cd drive/MyDrive

/content/drive/MyDrive

In [5]:
# creating a list of all file ids and corresponding folder names and file names.
file_ids = ['1-InSsTWFPNryCiwLIfoqlDNE_Q__WbRDoB7YFr7pv9c','1b4EITSgElTGDzvkflKujeQGaeUKMQPBeIzNuz145aiY','1HP_DJqjKnHxIFN2ipEmxeSZpNVvohTMQUTcOF4fKmqE',
            '1LRSVBZtJylR-WOIi4MK-r8KoVhg3eP7hS-4vYWcH5fI','1mc1fvjYtQcy96cQY8d7Z3y2qYBpuofLjCzf-uehjftk','1hFHPooKiW-J-Gv8IMJnHsLpDRLwQKzyFTgkc5PGPDNU'
            ]
folder_names=['1','1','2','2','3','3']

file_names = ['1','2','3','4','5','6']

In the below cell give the team folder names in the list (variable names folders).If you run this cell it will iterate through the folders,In the folders it will iterate through the file names and create two files.One file with stacking all the first sheets info column wise of each file.Other file is with all rows of each file stacked row wise with extra two columns of corresponding file name and folder name.

In [6]:
# files reading with id and storing in csv file.
import os
import pandas as pd

final_df = pd.DataFrame([])
final_df_extra_columns = pd.DataFrame([])

num_files = len(file_ids)
for ind in range(num_files):
    sheet_id = file_ids[ind]
    file_name = file_names[ind]
    folder_name = folder_names[ind]
    worksheet = gc.open_by_url(f"https://docs.google.com/spreadsheets/d/{sheet_id}").sheet1
    rows = worksheet.get_all_values()
    temp_df = pd.DataFrame.from_records(rows)
    li_file_names = [file_name]
    li_file_names = li_file_names*(temp_df.shape[0])
    li_folder_names = [folder_name]
    li_folder_names = li_folder_names*(temp_df.shape[0])
    temp_df_extra_columns =pd.concat([temp_df,pd.DataFrame(li_file_names),pd.DataFrame(li_folder_names)],axis=1)
    final_df = pd.concat([final_df,temp_df],axis=1)
    final_df_extra_columns=pd.concat([final_df_extra_columns,temp_df_extra_columns],axis=0)

#the path also can be changed to some other folder in the drive ,here it is saved in the current directory.
final_df.to_csv('single_sheet.csv',index = False)    
final_df_extra_columns.to_csv('single_sheet_with_extra_columns.csv',index = False)

In [ ]:
final_df

   0   0   0   0   0   0
0  1  21  31  41  51  61
1  2  22  32  42  52  62
2  3  23  33  43  53  63
3  4  24  34  44  54  64

In [ ]:
final_df_extra_columns

    0  0  0
0   1  1  1
1   2  1  1
2   3  1  1
3   4  1  1
0  21  2  1
1  22  2  1
2  23  2  1
3  24  2  1
0  31  3  2
1  32  3  2
2  33  3  2
3  34  3  2
0  41  4  2
1  42  4  2
2  43  4  2
3  44  4  2
0  51  5  3
1  52  5  3
2  53  5  3
3  54  5  3
0  61  6  3
1  62  6  3
2  63  6  3
3  64  6  3